* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 100%;
}

nav, ul,li  {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    background: #ffffff;
    width: 100%;
    position: absolute;
    height: 120px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /*deixa um espaçamento entre os elementos dentro do header */
    align-items: center; /* alinha os itens ao centro da altura */
    padding: 20px 50px;
}

header img {
    width: 200px;
}

header nav, ul {
    display: flex;
}

header ul li a {
    display: block;
    position: relative;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    transition: .6s;
}

header ul:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

header ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

/* header ul li a:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #2d3436;
   transition: transform 0.6s;
   transform-origin: right;
   transform: scale(0);
   z-index: -1;
}

header ul li a:hover:before {
   transition: transform 0.6s;
   transform-origin: left;
   transform: scaleX(1);
}
*/


header li {
    margin: 0 15px;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

/* HERO */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0 ,0 ,0.5)), url(../images/bkg-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.hero h3 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.hero .btn {
    background: transparent;
    color:  #ffffff;
    border: 2px solid  #ffffff;
    padding: 10px 30px;
    transition: 0.5s ease;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.hero .btn:hover {
    background: #000000;
    color: #ffffff;
    transition: 0.5s ease;
    border: 2px solid  #000000;
}

/*come-hotel*/

.come-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    text-align: center;
}

.come-hotel h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    font-weight: 300;
}

.come-hotel p {
    max-width: 800px;
    margin-bottom: 35px;
}

.come-hotel hr {
    width: 250px;
    height: 3px;
    background: #000000;
    margin-bottom: 70px;
    border: none;
}

.come-hotel .images-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.come-hotel .grid-images img {
    border: 20px solid #ffffff;
    max-width: 400px;
    width: 400px;
    height: 300px;
}
.come-hotel .grid-images img {

}


/* Informations */

.informations {
    background: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 100px 50px;
}

.informations h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    font-weight: 300;
}

.informations p {
    max-width: 800px;
    margin-bottom: 35px;
}

.informations hr {
    width: 250px;
    height: 3px;
    background: #ffffff;
    margin-bottom: 70px;
    border: none;
}

.informations h4 {
    margin-bottom: 30px;
}

.informations .grid {
    width: 100%;
    display: flex;
}

.informations .grid li {
    padding: 0 30px;
    align-items: center;
}

.informations .grid li i{
    color: #00b894;
    font-size: 50px; 
    margin-bottom: 30px;
}

.informations .grid li h4 {
    color: #00b894;
    font-size: 1.5rem;
}

/* newsletter */

.newsletter {
    width: 100%;
    padding: 100px 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.newsletter h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    font-weight: 300;
}

.newsletter p {
    max-width: 800px;
    margin-bottom: 35px;
}

.newsletter hr {
    width: 250px;
    height: 3px;
    background: #ffffff;
    margin-bottom: 30px;
    border: none;
}

.newsletter input {
    margin: 20px 20px;
    padding: 5px 40px;
    border: 2px solid #000000;
}

.newsletter input:focus {
    border: 2px solid #00b894;
}

.newsletter button {
    text-transform: uppercase;
    padding: 5px 10px;
    border: 2px solid #000000;
    background: #ffffff;
    transition: 0.5s;
}

.newsletter button:hover {
    color: #ffffff;
    padding: 5px 10px;
    border: 2px solid #000000;
    background: #000000;
    transition: 0.5s;
}

.newsletter button:active {
    background: #00b894;
    border: 2px solid #ffffff;
}

/*footer*/

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: #000000;
    align-items: center;
}

footer p, a {
    transition: 0.5s;
    margin-bottom: 25px;
    color: #ffffff;
    text-align: center;
}

footer a:hover {
    color: #00b894;
}

footer ul {
    display: flex;
    align-items: center;
    
}

footer ul li {
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li i{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    transition: 0.5s;
}

footer ul li i:hover{
    transform: scale(1.2);
    color: #00b894;
}

